/agenda_venv
/Classes/__pycache__
/Saves/__pycache__
/__pycache__
/.vscode
/Saves/Notes/*
/Saves/Notebooks/*
/Saves/Entries/*
/Saves/__pycache__
# I was using this file to test to see if SQL was usable
databasetest.py