/agenda_venv
/Classes/__pycache__
/Saves/__pycache__
/__pycache__
/.vscode
/Saves/__pycache__

/Saves/Notes/*
/Saves/Notebooks/*
/Saves/Events/*

# pyinstaller stuff
/output

/main.build
/main.dist
socketTest.py
AgendaApp.spec
/dist
/build